/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_tree .
 *= require primary
 *= require_self
 */

 
 $red: #791E20;
 $green: #94B26F;
 $light_green: #B6D491;
 $yellow: #F0E0A6;
 $dark_brown: #332318;
 $light_brown: #4C2516;
 $white: #FFFFFF;
 


 nav {
    color: $white; 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

images {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
}

div {

    margin: 1em;
}

appraisals {
   margin: 10px;
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   flex-wrap: wrap;


}

.form {
    min-height: 3em;
}

.btn {
    font-size: 1em;
    border: none;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
}

.btn .btn-primary {
    color: $white;
    background: $dark_brown;
}

.btn .btn-primary:hover {
    color: $white;
    background: $green;
}

.btn .btn-secondary {
    color: $white;
    background: $green;
}

.btn .btn-secondary:hover {
    color: $white;
    background: $dark_brown;
}

form {
    min-height: 3em;
  }